:root {
    font-size: 16px;
}

* {
    margin: 0;
    font-family:'Courier New', Courier, monospace;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

button {
    box-sizing: border-box;
}

#greeting {
    border-bottom: 2px #3BBA9C solid;
    background-color: #2E3047;
}

#greeting > h1 {
    font-size: 5rem;
    text-align: center;
    padding: 1rem;
    color: #3BBA9C;
    text-shadow: 2px 2px #565a85;
}

#main {
    padding: 3rem;
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3rem;
    background-color: #3C3F58;
    flex: 1 0 auto;
}

#add-container {
    background-color: #3C3F58;
    padding-bottom: 1rem;
}

#add {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-left: 3rem;
    background-color: #3BBA9C;
    border: 2px #2E3047 solid;
    padding: 0.7rem;
    border-radius: 5px;
    color: #2E3047;
    font-weight: bold;
    box-shadow: 5px 5px 5px #2E3047;
    cursor: pointer;
}

#add:hover {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-left: 3rem;
    background-color: #2E3047;
    border: 2px #3BBA9C solid;
    padding: 0.7rem;
    border-radius: 5px;
    color: #3BBA9C;
    font-weight: bold;
    cursor: pointer;
}

dialog {
    width: 30%;
    height: 51%;
    left: 35%;
    top: 25%;
    background-color: #3BBA9C;
    border: 5px #2E3047 solid;
}

dialog > form {
    width: 90%;
    display: flex;
    flex-direction: column;
}

dialog > form > input,
dialog > form > select,
dialog > form > input::placeholder,
dialog > form > select::placeholder {
    font-size: 1.5rem;
    padding: 0.75rem;
    box-sizing: border-box;
    color: #2E3047;
    border: none;
    border-bottom: 2px #2E3047 solid;
    background-color: transparent;
    appearance: text;
}

dialog > form > select > option {
    background-color: #2E3047;
    color: #3BBA9C;
}

dialog > form > input:focus,
dialog > form > select:focus {
    background-color: transparent;
    outline: none;
    appearance: textfield;
}

dialog > form > input,
dialog > form > select,
dialog > form > div {
    width: 100%;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
}

#dialog-button-container {
    display: flex;
    height: auto;
    justify-content: space-between;
    justify-self: flex-end;
}

#dialog-button-container > button {
    width: 30%;
    font-size: 1.5rem;
    height: fit-content;
    background-color: #2E3047;
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    color: #3BBA9C;
    font-weight: bold;
    cursor: pointer;
}

#dialog-button-container > button:hover {
    width: 30%;
    font-size: 1.5rem;
    height: fit-content;
    background-color: #3BBA9C;
    border: 2px #2E3047 solid;
    padding: 0.5rem;
    border-radius: 5px;
    color: #2E3047;
    font-weight: bold;
    cursor: pointer;
}

.book-container {
    border: 2px #2E3047 solid;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #24274d;
    display: flex;
    flex-direction: column; 
    height: fit-content;
    background-color: #3BBA9C;
    color: #2E3047;
    font-weight: 600;
    overflow: hidden;
}

.button-container {
    width: 100%;
    height: 20%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    justify-self: flex-end;
}

.book-button {
    width: 40%;
    height: fit-content;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
}

.remove-button {
    background-color: #2E3047;
    border: 2px #3BBA9C solid;
    padding: 0.5rem;
    border-radius: 5px;
    color: #3BBA9C;
    font-weight: bold;
}

.remove-button:hover {
    background-color: #3BBA9C;
    border: 2px #2E3047 solid;
    padding: 0.5rem;
    border-radius: 5px;
    color: #2E3047;
    font-weight: bold;
}

